.markeddiv{
    padding:10px 20px;
    text-align: center;
}

textarea{
    margin:10px auto;
    width:95%;
    padding:5px;
}

.clear, .copy{
    padding:5px;
    background:#fff;
    color: #242424;
    border:1px solid #5a5a5a;
    border-radius:5px;
    transition: all 0.7s ease;
    float:left;
    margin-left:10px;
}

.copy{
    margin-left:20px;
}

.clear:hover, .copy:hover{
    color:#fff;
    background:#242424;
}

@media screen and (max-width:314px){
    .clear, .copy{
        font-size: 0.6rem;
    }
}