.prevdiv{
    padding:18px 13px 10px 13px;
}

.previewdiv{
    background: #cccccc;
    min-height: 425px;
    width:95%;
    margin: 0px auto;
    padding:5px;
    word-wrap: break-word;
}

 .previewdiv > *{
    margin:8px;
}