.markdwnguide{
    padding:10px 30px 30px 30px;
}

hr{
    margin-bottom: 10px;
}

.guide_header{
    margin:10px auto;
    line-height: 1.4;
}

.header_exp{
    color:#3b3b3b;
}

.guide_header h2{
    margin-top:5px;
    margin-bottom:5px;
    color:#292929;
}

.guide_header h3{
    margin-top:5px;
    margin-bottom:3px;
}

.guide_explanation{
    margin-top:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.markdown_block{
    margin:15px 0px;
    background:#c2c2c2;
    padding:20px;
    max-width:400px;
    border-radius: 5px;
    color:#000;
    line-height: 1.6;
}